<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>测试页</title>
    </head>
    <body>
        <a href="/vote/index/" target="_blank">展示所有问题</a><br><br>
        <a href="/vote/manage/" target="_blank">展示正在进行问题</a><br><br>
        <a href="/vote/add_problem/" target="_blank">添加问题</a><br><br>
        <p>修改问题：http://127.0.0.1:8000/vote/edit_problem/pid</p>
        <p>删除问题：http://127.0.0.1:8000/vote/delete_problem/pid</p>
        <p>用户投票：http://127.0.0.1:8000/vote/user_vote/pid/oid/content</p>
    </body>
</html>